<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/weather-flavicon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="about-content">
                <img class="potrait" src="/img/pic_graz.JPG">
                <div class="about-text">
                    <p>Hi! I'm Adam. I built this site to develop my Node.JS skills.</p>
                    <p>It utilises data from mapbox.com and weatherapi.com to display the current weather at your searched location.</p>
                </div>
            </div>
        </div>

        {{>footer}}
    </body>
</html>