<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/weather-flavicon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h4>Why can't I find the weather for my location?</h4>
            <p>If the location shown doesn't match with your search, try adding the country. Additionally, when using a postcode please omit a space between the outcode and incode sections.</p>
            
            {{!-- <p>{{ message }}</p> --}}
        </div>

        {{>footer}}
    </body>
</html>